* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  background: #f5f5f5;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;

  gap: 5px;
}
.sidebar {
  flex: 1;
  background: red;
}
.others {
  flex: 3;
  /* background: blue; */
}
