* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  gap: 5px;
}
.sidebar {
  background: #ffffff;
  flex: 1;
  max-width: 444px;
  height: fit-content;
  max-height: 100vh;
  position: sticky;
  top: 0;
}
.others {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
